/*Variables creation*/
:root {
    --fontsize-base: 22px;
    --margin-small: 25px;
}


body {

    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    font-size: var(--fontsize-base);
    background-color: white;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    padding: 0 20px;
}

.div1{
    background-image: url("sign4.jpg");
    background-repeat: no-repeat;
    height: 350px;
    width: 612px;
    justify-content: center;
}




header, main, footer {
    width: 100%;
}

a, a:hover {
    text-decoration: none;
}

header > h1 {
    color: #fbc048;
    font-size: xx-large;
    text-align: center;
    transition: all 2s;
    margin-bottom: var(--margin-small);
}



/*Input Box Customize*/
form > div.form-item {
    margin: var(--margin-small);
}
input[type="text"]{
    border-radius: 8px;
    border-color: deepskyblue;
    width: 180px;
    height: 20px;

}
input[type="month"]{
    border-radius: 8px;
    border-color: deepskyblue;
    width: 180px;
    height: 20px;
}


/*Button Sign Up Style*/
.btl {
    background-image: linear-gradient(to right, #fcc14b 0%, #00dbde  51%, #fcc14b  100%);
    padding: 5px 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #182d23;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    transition: .1s ease-in;
    margin: var(--margin-small);


}
.btl:hover{
    background-color: #3e8e41
}
.btl:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
